<footer class="py-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block">
            comfy sloth
          </h1>
          <div class="footer-icons my-5 d-flex justify-content-center">
            <!-- Single Icon-->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-facebook"></i>
            </a>
            <!-- End of Single Icon-->
            <!-- Single Icon-->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <!-- End of Single Icon-->
            <!-- Single Icon-->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-google-plus"></i>
            </a>
            <!-- End of Single Icon-->
            <!-- Single Icon-->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-instagram"></i>
            </a>
            <!-- End of Single Icon-->
            <!-- Single Icon-->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- End of Single Icon-->

          </div>
          <!-- End of Footer Icons-->
          <p class="text-muted text-capitalize w-75 mx-auto text-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eum harum amet dolorum vitae, atque excepturi
            facere alias perspiciatis quidem?
          </p>
          <div class="footer-contact mt-5 d-flex justify-content-around flex-wrap">
            <!-- Single Contact-->
            <div class='text-capitalize'>
              <span class="footer-icon mr-2">
                <i class="fas fa-map"></i>
              </span>
              <span class="footer1">123 Main Street, Los Angeles</span>
            </div>
            <!-- End of Single Contact-->
            <!-- Single Contact-->
            <div class='text-capitalize'>
              <span class="footer-icon mr-2">
                <i class="fas fa-phone"></i>
              </span>
              <span class="footer1"> Phone: + (555) 444 3333</span>
            </div>
            <!-- End of Single Contact-->
            <!-- Single Contact-->
            <div class='text-capitalize'>
              <span class="footer-icon mr-2">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="footer1"> Email: Viseth@Sen.Com</span>
            </div>
            <!-- End of Single Contact-->

          </div>
        </div>
      </div>
    </div>
  </footer>