{% extends 'sloth_shop/base.html' %}
{% block title %} Sloth Shop {% endblock %}
{% load static %}
{% block content %}


  <!-- Banner -->
    <div class="banner d-flex align-items-center pl-3 pl lg-5">
      <div>
        <h1 class="text-capitalize text-slanted mb-0">minimalist</h1>
        <h1 class="text-uppercase font-weight-bold">interior style</h1>
        <a href="products.html" class='btn btn-yellow'>View Collection</a>
      </div>
    </div>
  <!-- End of Banner -->
  </header>
  <!-- End of Header -->

  <!-- Services Section -->
  <section class="services py-5 text-center">
    <div class="container">
      <div class="row">
        <!-- Single Service -->
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
          <span class="service-icon">
            <i class="fas fa-parachute-box"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">free shipping</h5>
          <p class="text-muted text-capitalize">Free shipping on all orders over $100.00</p>

        </div>
        <!-- End of Single Service -->
        <!-- Single Service -->
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
          <span class="service-icon">
            <i class="fas fa-phone-volume"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">Online support 24/7</h5>
          <p class="text-muted text-capitalize">We will assist you with your inquiries</p>

        </div>
        <!-- End of Single Service -->
        <!-- Single Service -->
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
          <span class="service-icon">
            <i class="fas fa-dollar-sign"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">Money Back Guarantee</h5>
          <p class="text-muted text-capitalize">free 100% refund for 30 days</p>

        </div>
        <!-- End of Single Service -->
      </div>
    </div>
  </section>
  <!-- Services Section -->

  <!-- Categories Section -->
  <section class="home-categories py-5">
    <div class="container">
      <div class="row">
        <!-- category title -->
        <div class="col-10 mx-auto col-md-6 col-lg-3 align-self-center">
          <h5 class="text-uppercase">product categories</h5>
          <p class="text-muted">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
            repellendus!
          </p>
          <a href="products.html" class="text-weight-bold text-capitalize categories-link">
            view all categories
          </a>
          <div class="categories-underline"></div>
        </div>
        <!-- Main -->
        <div class='col-10 mx-auto col-md-6 col-lg-9 my-3'>
          <div class="row">
            <!-- Single Category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img src="{% static 'sloth_shop/img/cagetogoryImg/kitchen-category.jpeg' %}" class="img-fluid category-img" alt="category img " />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">kitchen</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- End of Single Category -->
            <!-- Single Category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img src="{% static 'sloth_shop/img/cagetogoryImg/bathroom-category.jpeg' %}" class="img-fluid category-img" alt="category img " />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">bathroom</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- End of Single Category -->
            <!-- Single Category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img src="{% static 'sloth_shop/img/cagetogoryImg/livingroom-category.jpeg' %}" class="img-fluid category-img" alt="category img " />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">living room</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- End of Single Category -->
            <!-- Single Category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img src="{% static 'sloth_shop/img/cagetogoryImg/patio-category.jpeg' %}" class="img-fluid category-img" alt="category img " />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">patio</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- End of Single Category -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Categories Section -->

  <!-- Home Filler -->
  <section>
    <div class="container-fluid">
      <div class="row home-filler align-items-end pb-5">
        <div class="col-10 mx-auto text-white text-center">
          <h4 class="text-uppercase font-weight-bold">
            smart furniture collection
          </h4>
          <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dolor!</p>
          <a href="product.html" class="text-weight-bold text-capitalize collection-link">
            view collection
          </a>
          <div class="collection-underline"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Home Filler -->


  <!-- Featured Section -->
  <section class="featured py-5">
    <div class="container">
      <div class="row my-3">
        <div class="col-10 mx-auto text-center">
          <h1 class="text-uppercase">Featured Products</h1>
          <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, alias!</p>
        </div>
      </div>
      <div class="row">
        <!-- Single Product -->
        <div class="col-10 mx-auto col-md-6 col-lg-4">
          <div class="featured-container p-5">
            <img src="{% static 'sloth_shop/img/img-products/product-1.png' %}" class='img-fluid' alt="product">
            <span class='featured-search-icon' data-toggle='modal' data-target='#productModal'><i class="fas fa-search"></i></span>
            <a href="#" class="featured-store-link text-capitalize">add to cart</a>
          </div>
          <h6 class="text-capitalize text-center my-2">special product</h6>
          <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
          </h6>
        </div>
        <!-- End of Single Product -->
        <!-- Single Product -->
        <div class="col-10 mx-auto col-md-6 col-lg-4">
          <div class="featured-container p-5">
            <img src="{% static 'sloth_shop/img/img-products/product-2.png' %}" class='img-fluid' alt="product">
            <span class='featured-search-icon' data-toggle='modal' data-target='#productModal'><i class="fas fa-search"></i></span>
            <a href="#" class="featured-store-link text-capitalize">add to cart</a>
          </div>
          <h6 class="text-capitalize text-center my-2">special product</h6>
          <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
          </h6>
        </div>
        <!-- End of Single Product -->
        <!-- Single Product -->
        <div class="col-10 mx-auto col-md-6 col-lg-4">
          <div class="featured-container p-5">
            <img src="{% static 'sloth_shop/img/img-products/product-3.png' %}" class='img-fluid' alt="product">
            <span class='featured-search-icon' data-toggle='modal' data-target='#productModal'><i class="fas fa-search"></i></span>
            <a href="#" class="featured-store-link text-capitalize">add to cart</a>
          </div>
          <h6 class="text-capitalize text-center my-2">special product</h6>
          <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
          </h6>
        </div>
        <!-- End of Single Product -->
        <!-- Single Product -->
        <div class="col-10 mx-auto col-md-6 col-lg-4">
          <div class="featured-container p-5">
            <img src="{% static 'sloth_shop/img/img-products/product-4.png' %}" class='img-fluid' alt="product">
            <span class='featured-search-icon' data-toggle='modal' data-target='#productModal'><i class="fas fa-search"></i></span>
            <a href="#" class="featured-store-link text-capitalize">add to cart</a>
          </div>
          <h6 class="text-capitalize text-center my-2">special product</h6>
          <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
          </h6>
        </div>
        <!-- End of Single Product -->
        <!-- Single Product -->
        <div class="col-10 mx-auto col-md-6 col-lg-4">
          <div class="featured-container p-5">
            <img src="{% static 'sloth_shop/img/img-products/product-5.png' %}" class='img-fluid' alt="product">
            <span class='featured-search-icon' data-toggle='modal' data-target='#productModal'><i class="fas fa-search"></i></span>
            <a href="#" class="featured-store-link text-capitalize">add to cart</a>
          </div>
          <h6 class="text-capitalize text-center my-2">special product</h6>
          <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
          </h6>
        </div>
        <!-- End of Single Product -->
        <!-- Single Product -->
        <div class="col-10 mx-auto col-md-6 col-lg-4">
          <div class="featured-container p-5">
            <img src="{% static 'sloth_shop/img/img-products/product-6.png' %}" class='img-fluid' alt="product">
            <span class='featured-search-icon' data-toggle='modal' data-target='#productModal'><i class="fas fa-search"></i></span>
            <a href="#" class="featured-store-link text-capitalize">add to cart</a>
          </div>
          <h6 class="text-capitalize text-center my-2">special product</h6>
          <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
          </h6>
        </div>
        <!-- End of Single Product -->
      </div>
    </div>
  </section>
  <!-- End of Featured Section -->

  <!-- Partners -->
  <section class="partners py-5">
    <div class="container">
      <div class="row">
        <!-- Company Carousel -->
        <div class="col-6 col-md-6 col-lg-4 mx-auto">
          <div id="partnerCarousel" class="carousel slide" data-ride='carousel'>
            <div class="carousel-inner">
              <!--Single Item-->
              <div class="carousel-item active">
                <img src="{% static 'sloth_shop/img/company-logos/company-logo-1.png' %}" class='d-block w-100' alt="Partner Company">
              </div>
              <!-- End Single Item-->
              <!--Single Item-->
              <div class="carousel-item">
                <img src="{% static 'sloth_shop/img/company-logos/company-logo-2.png' %}" class='d-block w-100' alt="Partner Company">
              </div>
              <!-- End Single Item-->
              <!--Single Item-->
              <div class="carousel-item">
                <img src="{% static 'sloth_shop/img/company-logos/company-logo-3.png' %}" class='d-block w-100' alt="Partner Company">
              </div>
              <!-- End Single Item-->
              <!--Single Item-->
              <div class="carousel-item">
                <img src="{% static 'sloth_shop/img/company-logos/company-logo-4.png' %}" class='d-block w-100' alt="Partner Company">
              </div>
              <!-- End Single Item-->
              <!--Single Item-->
              <div class="carousel-item">
                <img src="{% static 'sloth_shop/img/company-logos/company-logo-5.png' %}" class='d-block w-100' alt="Partner Company">
              </div>
              <!-- End Single Item-->
              <!--Single Item-->
              <div class="carousel-item">
                <img src="{% static 'sloth_shop/img/company-logos/company-logo-6.png' %}" class='d-block w-100' alt="Partner Company">
              </div>
              <!-- End Single Item-->
            </div>
            <a href="#partnerCarousel" role='button' data-slide='prev' class="carousel-control-prev">
              <i class="fas fa-arrow-left"></i>
            </a>
            <a href="#partnerCarousel" role='button' data-slide='next' class="carousel-control-next">
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Partners-->

  <!-- Newsletter -->
  <section class="newsletter py-5">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h2 class="text-uppercase">newsletter</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam nostrum magni fuga quaerat inventore omnis
            vitae sapiente sit rerum enim.</p>
          <form>
            <div class="input-group mt-5 mb-4">
              <input type="text" class="form-control text-capitalize" placeholder='enter your email'>
              <div class="input-group-append">
                <div class="input-group-text form-icon">
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
            </div>
            <button type='submit' class='btn btn-yellow'>Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Newsletter-->

  <!-- Skills -->
  <section class="skills py-5">
    <div class="container">
      <div class="row">
        <!--Single Skill-->
        <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
          <div class="skill-icon mr-3">
            <i class="fas fa-truck"></i>
          </div>
          <div class="skill-text">
            <h3 class="text-uppercase text-white">free shipping</h3>
            <p class="text-muted text-capitalize">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, amet.</p>
          </div>
        </div>
        <!-- End of Single Skill -->
        <!--Single Skill-->
        <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
          <div class="skill-icon mr-3">
            <i class="fas fa-comment-dollar"></i>
          </div>
          <div class="skill-text">
            <h3 class="text-uppercase text-white">price promise </h3>
            <p class="text-muted text-capitalize">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, amet.</p>
          </div>
        </div>
        <!-- End of Single Skill -->
        <!--Single Skill-->
        <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
          <div class="skill-icon mr-3">
            <i class="fas fa-award"></i>
          </div>
          <div class="skill-text">
            <h3 class="text-uppercase text-white">lifetime warranty</h3>
            <p class="text-muted text-capitalize">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, amet.</p>
          </div>
        </div>
        <!-- End of Single Skill -->
      </div>
    </div>
  </section>
  <!-- End of Skills -->
  <!-- Footer -->



  <!-- modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header">
            <h5 class="modal-title text-capitalize">product info</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--end of  modal header -->
          <!-- modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col text-center">
                <img src="{% static 'sloth_shop/img/img-products/product-1.png' %}" class="img-fluid" alt="" />
                <!-- ratings -->
                <div class="ratings">
                  <span class="rating-icon"><i class="fas fa-star"></i></span>
                  <span class="rating-icon"><i class="fas fa-star"></i></span>
                  <span class="rating-icon"><i class="fas fa-star"></i></span>
                  <span class="rating-icon"><i class="fas fa-star"></i></span>
                  <span class="rating-icon"><i class="far fa-star"></i></span>
                  <span class="text-capitalize">(25 customer reviews)</span>
                </div>
                <!-- end of ratings -->
                <h2 class="text-uppercase my-2">premium office armchair</h2>
                <h2>$10.00 - $200.00</h2>
                <p class="lead text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
                  porro.
                </p>
                <!-- colors -->
                <h5 class="text-uppercase">
                  colors :
                  <span class="d-inline-block products-color products-color-black mr-2"></span>
                  <span class="d-inline-block products-color products-color-red mr-2"></span>
                  <span class="d-inline-block products-color products-color-blue mr-2"></span>
                </h5>
                <!-- end of colors -->
                <!-- sizes -->
                <h5 class="text-uppercase">
                  sizes : <span class="mx-2">xs</span> <span class="mx-2">s</span>
                  <span class="mx-2">m</span> <span class="mx-2">l</span>
                  <span class="mx-2">xl</span>
                </h5>
                <div class="d-flex flex-wrap">
                  <!-- cart buttons -->
                  <div class="d-flex my-2">
                    <span class="btn btn-black mx-1">-</span>
                    <span class="btn btn-black mx-1">4</span>
                    <span class="btn btn-black mx-1">+</span>
                  </div>
                  <button class="btn btn-black my-2 mx-2">wishlist</button>
                  <button class="btn btn-yellow my-2 mx-2">add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end modal body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">close modal</button>
          </div>
        </div>
        
      </div>
    </div>

{% endblock %}